/* src/assets/css/pages/admin/AdminUsers.css */
.admin-users h2 {
  color: #333;
  font-weight: 600;
}
.admin-users .table-primary th {
  background-color: #004085; /* Azul intenso */
  color: #fff;
}
.admin-users .badge {
  text-transform: capitalize;
  font-size: 0.85em;
}
.admin-users .btn-outline-primary {
  border-color: #004085;
  color: #004085;
}
.admin-users .btn-outline-primary:hover {
  background-color: #004085;
  color: #fff;
}
.admin-users .btn-outline-danger {
  border-color: #c82333;
  color: #c82333;
}
.admin-users .btn-outline-danger:hover {
  background-color: #c82333;
  color: #fff;
}
